<h1>My Project List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours</th>
      <th>Members</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.spend_hours %> h</td>
        <td><%= project.members %></td>
        <td>
          <%= link_to 'Show', project %>
          <%= link_to 'Edit', edit_project_path(project) %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New project', new_project_path %>
