<div class="header">
  <h1>Projects</h1>
  <%= link_to 'New project', new_project_path, class: 'button right' %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours</th>
      <th>Members</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, edit_project_path(project) %></td>
        <td><%= project.spend_hours %> h</td>
        <td><%= project.members_label %></td>
        <td>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-danger btn-sm' if project.owner.user_id == current_user.id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
