<h1>Detail Report for <%= @project.name %></h1>

<%= form_tag report_detail_path(@project.id), method: :get, class: 'filter' do %>
  <%= select_tag "users", options_from_collection_for_select(@project.users, :id, :name, params[:users]), multiple: true, include_blank: 'Select User' %>
  <%= text_field_tag "date_range", value: @date_range %>
  <%= submit_tag 'Search' %>
  <%= link_to 'Clear', report_detail_path(@project.id), class: 'button-warning' %>
<% end %>

<p class='report-title'>Total <strong><%= @project.spend_hours %>h</strong></p>
<%= column_chart @report_by_date, library: {
  tooltip: {
    pointFormat: "Hours: <b>{point.y}</b>h<br/>",
    valueDecimals: 2
  }, 
  yAxis: {
    title: { text: "Hours" },
    labels: { format: '{value}h' }
  }, 
  xAxis: {
    title: { text: "Date" },
  },
} %>

<div id="taglist-table">
  <table>
    <thead>
      <tr>
        <th>Time Entry</th>
        <th class='small center'>User</th>
        <th class='small rg'>Duration</th>
        <th class='small rg'>Happened At</th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td><%= issue.body_without_time_and_project %></td>
          <td class='center'><%= issue.user_name %></td>
          <td class='rg'><%= issue.spend_time %></td>
          <td class='rg'><%= issue.happened_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @issues %>
</div>

<script>
  $(document).ready(function(){
    $('select#project').select2({placeholder: 'Select a project', allowClear: true});
    $('select#users').select2({
      placeholder: 'Select users',
    });
  });
</script>
