<h1>Summary Report</h1>

<%= form_tag report_summary_path, method: :get, class: 'filter' do %>
  <%= select_tag "project", options_from_collection_for_select(current_user.projects, :id, :name, @project_id), include_blank: 'Select Project' %>
  <%= select_tag "users", options_from_collection_for_select([], :id, :name), multiple: true, include_blank: 'Select User' %>
  <%= text_field_tag "date_range", value: @date_range %>
  <%= submit_tag 'Search' %>
  <%= link_to 'Clear', report_summary_path, class: 'button-warning' %>
<% end %>

<%= column_chart @report_by_date, library: {
  tooltip: {
    pointFormat: "Hours: <b>{point.y}</b>h<br/>",
    valueDecimals: 2
  }, 
  yAxis: {
    title: { text: "Hours" },
    labels: { format: '{value}h' }
  }, 
  xAxis: {
    title: { text: "Date" },
  },
} %>

<hr>

<div class="pie_report">
  <table>
    <% @reports.each_with_index do |report, index| %>
      <tr>
        <% if @projects_hash.present? %>
          <% project_id = @projects_hash[index][:id] rescue 0 %>
          <td><%= link_to report[0], report_detail_path(project_id) %></td>
        <% else %>
          <td><%= report[0] %></td>
        <% end %>
        <td><%= report[1] %>h</td>
      </tr>
    <% end %>
  </table>
  <div class='pie_chart'>
    <%= pie_chart @reports, library: {
      tooltip: {
        pointFormat: "Hours: <b>{point.y}</b>h<br/>",
        valueDecimals: 2
      }, 
    } %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('select#project').select2({placeholder: 'Select a project', allowClear: true});
    $('select#users').select2({
      //data: [{id: 1, text: 'jack'}, {id: 2, text: 'test'}],
      placeholder: 'Select users',
      ajax: {
        url: '<%= users_projects_path %>',
        dataType: 'json',
        delay: 250,
        data: function(params) {
          return {
            project_id: $('#project').val()
          }
        },
        processResults: function(data, params){
          return {
            results: data
          }
        },
        cache: true
      }
    });
  });
</script>
